

    <div class="col-md-10 flex-grow-1 p-4 component-content">
        <h2>
            Hi there!
        </h2>
        <p>
            Hi, I'm a 28-year-old full-stack web developer from Argentina. I have experience developing component-based web applications, microservices, and both relational and non-relational databases. My interest in development began when I was young; I always enjoyed finding solutions and creating tools that make my life and the lives of those around me easier. Today, the world has changed, and I have found technology to be the best way to create life-changing solutions and tools. I am ready for a great challenge!
        </p>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div class="my-4  d-flex justify-content-end">

                <button type="button" class="btn btn-primary">Send</button>

            </div>
          </div>
    </div>
