<div class="flex-grow-1 vh-80">
    <nav class="d-md-block bg-light sidebar " >
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link primary" href="#">
              <i class="fas fa-home"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-user"></i>
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-cog"></i>
              Settings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-cog"></i>
              Git hub
            </a>
          </li>
        </ul>
      </div>
    </nav>
</div>